form {  margin-bottom: 0px}
td {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
font {  font-family: Arial, Helvetica, sans-serif}
body {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; background-color: #D9D9D9}
b {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
p {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
a {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #C2C2C2}
option {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
input {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000}
select {  font-family: Arial, Helvetica, sans-serif; font-size: 10px}
strong {  font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #000000}
s {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; font-weight: normal}
.small {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000000}
.box120 {  width: 120px}
a:link {  color: #000000; text-decoration: underline}
a:visited {  color: #000000; text-decoration: underline}
a:active {  color: #000000; text-decoration: underline; font-weight: bolder}
a:hover {  color: #000000; text-decoration: underline; font-weight: bolder}
a.logo {display: block; float: left; margin: 17px 0 22px 23px; padding-top: 64px; width: 156px; height: 0; overflow: hidden; background: url(http://www.atrendia.com/images/atrendia_logo.gif) no-repeat;}
